* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Poppins", sans-serif;
}

/* ****************************** */
/* ********* Invoice Section **** */
/* ****************************** */

.invoice_no {
  font-size: 1.6rem;
  letter-spacing: 1.5px;
}

/* ****************************** */
/* ********* Items Section **** */
/* ****************************** */

.items_section {
  max-width: 120rem;
  margin: auto 0;
  padding: 1rem 2rem 1.5rem 2rem;
  border-bottom: 1px solid rgba(205, 197, 197, 0.3);
}

.all_items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 2fr 2fr 2fr;
  gap: 1.4rem;
  align-items: center;
}

.search_items {
  display: inherit;
  grid-column: 1 / 3;
}

.search {
  display: flex;
  align-items: center;
  margin-right: 0.7rem;
}

.logo {
  background-color: #0dcaf0;
  color: #fff;
  padding: 0.1rem 0.4rem;
  margin-left: 0.7rem;
  font-size: 1.1rem;
}

.search_label {
  font-size: 1.4rem;
  color: #444242;
}

.item_stock {
  position: absolute;
  left: 20%;
  font-size: 1.3rem;
  color: #444242;
}

.all_items input {
  padding: 1rem;
  background-color: #f6f7f8;
  border: none;
}

.resourse_person select {
  height: 3.4rem;
  width: 100%;
  border: 1px solid #f0f0f0;
  background-color: #fff;
}

.resourse_person select option {
  font-size: 1.5rem;
}

.cus_info,
.phone_no,
.res_person,
.paymentType {
  font-size: 1.4rem;
  font-weight: 500;
}

.new_customer {
  background-color: rgba(151, 155, 159, 0.5);
  padding: 0.1rem 0.4rem;
  margin-left: 0.7rem;
  font-size: 1.1rem;
}

.resource_person_select {
  color: #fff;
  background-color: rgb(220, 207, 17);
  padding: 0.1rem 0.4rem;
  margin-left: 0.7rem;
  font-size: 1.1rem;
}

.payment_select {
  color: #fff;
  background-color: rgb(54 155 199);
  padding: 0.1rem 0.4rem;
  margin-left: 0.7rem;
  font-size: 1.1rem;
}

/* ****************************** */
/*  All Items Information Section */
/* ****************************** */

.All_items_info {
  display: flex;
  justify-content: space-around;
}

.item_navbar {
  height: 45.3rem;
  margin-left: 30rem;
  border-right: 1px solid rgba(205, 197, 197, 0.3);
  border-left: 1px solid rgba(205, 197, 197, 0.3);
}

.existing_items {
  width: 100rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  padding: 0.9rem 0;
  background-color: #444546;
}

.existing_items span {
  margin: 0 3.4rem;
  font-size: 1.4rem;
}

.invoice_info {
  background-color: #444546;
  width: 100%;
  padding: 0.9rem 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.invoice_info span {
  color: #fff;
  font-size: 1.4rem;
}

.icons {
  height: 3rem;
  width: 3rem;
  opacity: 0.3;
}

.Empty {
  display: grid;
  justify-content: center;
  margin-top: 20rem;
  justify-items: center;
}
.empty_data {
  font-size: 1.4rem;
  opacity: 0.3;
}

.empty {
  display: grid;
  justify-content: center;

  margin-top: 20rem;
}
.empty span {
  color: #000;
  font-size: 1.4rem;
  opacity: 0.3;
}
